/*
!public
public/*
!public/_headers
!public/favicon.ico
!public/index.html
!public/manifest.webmanifest
!public/robots.txt
!public/rss.xml
!public/assets
!public/bunnycdn_errors
!public/bunnycdn_errors/404.html
!.gitignore
!LICENSE
!mod.ts
!build.ts
!README.md
