/*
!public
public/*
!public/_headers
!public/favicon.ico
!public/index.html
!public/manifest.webmanifest
!public/robots.txt
!public/rss.xml
!public/assets
!.gitignore
!LICENSE
!mod.ts
!build.ts
!README.md
